.logo {
    display: flex;
    gap: 12px;
    align-items: center;
}

.logo__img {
    width: 40px;
    height: 40px;
}

.logo__text {
    font-size: 0.875rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--text-inverse);
    width: 3.5rem;
    height: 100%;
}