.cart-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 6rem;
    width: fit-content;
}

.cart-control button {
    padding: 0 0.75rem;
    border-radius: var(--radius-small);
    height: 2rem;
}

.cart-control button[aria-label="Increase"],
.cart-control button[aria-label="Decrease"] {
    font-weight: 600;
    padding: 0.5rem;
    width: 2rem;
    aspect-ratio: 1 / 1;
}

.product-counter {
    font-size: var(--font-size-sm);
    text-align: center;
}

