.search-input {
    background: #FFFFFF4D;
    width: 15rem;
    height: 2rem;
    padding-left: 2.5rem;
    color: var(--text-inverse);
}

.search-input::placeholder {
    color: var(--text-inverse);
    opacity: 0.8;
}

.search-input:focus {
    background: rgba(255, 255, 255, 0.2);
}