.add-to-favorite {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.add-to-favorite svg {
    fill: var(--gray);
    transition: all 0.2s ease;
}

.add-to-favorite.active svg {
    fill: var(--branded);
}

