.button {
    background: var(--branded);
    color: var(--text-inverse);
    border-radius: var(--radius);
    padding: 0.75rem 1.125rem;
    font-size: 0.875rem;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button:hover {
    background: var(--red);
}

/* .button:focus:not(:hover) {
    outline: 2px solid var(--branded);
    outline-offset: 2px;
} */

.button:disabled {
    opacity: 0.8;
}