.input-wrapper {
    width: 100%;
    position: relative;
}

.input {
    width: 100%;
    padding: 0.75rem 1.125rem;
    color: var(--text-primary);
    border-radius: var(--radius);
    transition: all 0.2s ease;
    background: #F4F4F4;
    min-height: 40px;;
}

.input::placeholder {
    color: var(--text-form);
}

.input:focus {
    background: #E2E2E4;
}

.input-field-container {
    position: relative;
}

.input-icon {
    height: calc(100% / 2);
    position: absolute;
    top: calc(100% / 4);
    left: 1rem;
}

.error-message {
    font-size: 0.875rem;
    color: var(--error);
    position: absolute;
    bottom: -1.25rem;
    left: 1rem;
}