.password-input {
    width: 100%;
    position: relative;
}

.password-input button {
    width: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
}

.password-input img {
    width: 100%;
}