.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    width: 450px;
    gap: 2rem;
    padding: 2rem;
    border-radius: var(--radius-small);
    border: 1px solid var(--border);
    background: var(--bg-layer-1);
    box-shadow: 0 4px 10px #00000026;
}