.header-favorite {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.header-favorite svg {
    fill: var(--red);
}

.header-favorite__counter {
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--text-inverse);
    min-width: 1.5rem;
}